@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Binding voorbeelden</h2>
        <ul>
            <li>@Html.ActionLink("Snack automaat", "MultipleCheckbox", "Binding")</li>
        </ul>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
